html, 
body {
    font-family: Arial, sans-serif;
    height: 100%;
}

#container {
    height: 100%;
    background: #fff;
    position: relative;
}

#search-box {
    height: 100%;
    background-color: yellow;
    min-width: 255px;
}

#places-search {
    width: 80%;
}

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
    height:   100%;
    position: absolute;
    bottom:   0px;
    left:     362px;
    right:    0px;
}