html,
body {
    font-family: Arial, sans-serif;
    height: 100%;
}

.container-fluid {
    height: 100%;
    background: #fff;
}

#mySidenav {
    height: 100%;
    background-color: yellow;
}

#places-search {
    width: 75%;
}

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
    height:   100%;
    width: 100%;
    position: absolute;
    bottom:   0px;
    left:     362px;
    right:    0px;
}